---
version: '3.5'

services:
    adguardhome:
        image: adguard/adguardhome
        container_name: adguardhome
        restart: unless-stopped
        volumes:
            - "{{ adguardhome_work_folder }}:/opt/adguardhome/work"
            - "{{ adguardhome_config_folder }}:/opt/adguardhome/conf:rw"
        ports:
            #- "{{ adguardhome_install_web_ui_port }}:3000/tcp" # Install web interface. Only needed at first.
            - "{{ adguardhome_web_ui_port }}:80/tcp" # Web interface
            - {{ adguardhome_ip }}:53:53/tcp # DNS
            - {{ adguardhome_ip }}:53:53/udp # DNS
            #- 67:67/udp # DHCP
            #- 68:68/udp # DHCP
            #- 443:443/tcp # DNS over HTTPS
            #- 443:443/udp # DNS over HTTPS
            #- 853:853/tcp # DNS over TLS
            #- 853:853/udp # DNS over QUIC
            #- 5443:5443/tcp # DNSCrypt
            #- 5443:5443/udp # DNSCrypt
            #- 6060:6060/tcp # Debugging profiles
        networks:
            - dns_network

networks:
  dns_network:
    name: dns_network
