---
version: "3.9"

services:
  samba:
    image: docker.io/servercontainers/samba:latest
    container_name: samba
    restart: always
    environment:
      ACCOUNT_admin: admin123
      UID_admin: 1234
      SAMBA_VOLUME_CONFIG_plex_flashdrive: "[plex_flashdrive]; path=/shares/plex_flashdrive; available = yes; browsable = yes; writable = yes; read only = no; force user = admin; public = yes; guest ok = yes"
      SAMBA_VOLUME_CONFIG_plex_media01: "[plex_media01]; path=/shares/plexmedia01; available = yes; browsable = yes; writable = yes; read only = no; force user = admin; public = yes; guest ok = yes"
    volumes:
      - /media/usbdriveplex:/shares/plex_flashdrive
      - /media/plexmedia01:/shares/plexmedia01
    ports:
      - 445:445
    cap_add:
      - CAP_NET_ADMIN
