version: "3"
services:
  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:4
    network_mode: host
    restart: always
    volumes:
      - {{ upsnap_data_folder }}:/app/pb_data
    entrypoint: /bin/sh -c "./upsnap serve --http 0.0.0.0:{{ upsnap_ui_port }}"
    healthcheck:
        test: curl -fs "http://localhost:{{ upsnap_ui_port }}/api/health" || exit 1
        interval: 10s
